<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.10.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur blanditiis cum delectus ducimus eveniet fugit harum in labore maiores maxime molestias omnis possimus praesentium quasi rem repellendus reprehenderit repudiandae sed sint soluta tempore unde voluptatem, voluptatum. Ab aperiam, deleniti expedita id maiores natus nihil nostrum quaerat ullam voluptate?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur blanditiis cum delectus ducimus eveniet fugit harum in labore maiores maxime molestias omnis possimus praesentium quasi rem repellendus reprehenderit repudiandae sed sint soluta tempore unde voluptatem, voluptatum. Ab aperiam, deleniti expedita id maiores natus nihil nostrum quaerat ullam voluptate?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur blanditiis cum delectus ducimus eveniet fugit harum in labore maiores maxime molestias omnis possimus praesentium quasi rem repellendus reprehenderit repudiandae sed sint soluta tempore unde voluptatem, voluptatum. Ab aperiam, deleniti expedita id maiores natus nihil nostrum quaerat ullam voluptate?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur blanditiis cum delectus ducimus eveniet fugit harum in labore maiores maxime molestias omnis possimus praesentium quasi rem repellendus reprehenderit repudiandae sed sint soluta tempore unde voluptatem, voluptatum. Ab aperiam, deleniti expedita id maiores natus nihil nostrum quaerat ullam voluptate?</p>
    </div>
</div>